# Auto detect text files and perform LF normalization
#* text=auto

* text working-tree-encoding=CP1251

# Custom for Visual Studio
*.cs diff=csharp text
*.fs diff=csharp text
*.fsi diff=csharp text
*.fsx diff=csharp text
*.sln text merge=union
*.csproj merge=union
*.fsproj merge=union