# Auto detect text files and perform LF normalization
#* text=auto

#*.fs text working-tree-encoding=cp1251 eol=CRLF

# Custom for Visual Studio
*.cs diff=csharp text
*.fs diff=csharp text
*.fsi diff=csharp text
*.fsx diff=csharp text
*.sln text merge=union
*.csproj merge=union
*.fsproj merge=union
